body {
    color: #500023;
    background-color:#DEA197;
    margin-inline: 25%;
    margin-bottom: 7%;
  }

  @font-face {
    font-family: "Righteous";
    src: url(./Righteous-Regular.ttf);
  }

  @font-face {
    font-family: "Barlow";
    src: url(./Barlow-Black.ttf);
  }


  h1 {
margin-top: 80px;
margin-bottom: 10px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
font-family: Righteous;
}

subtitle {
margin-bottom: 75px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
font-family: Barlow;
font-size: 25px;
}

img {
width: 100%;
height: auto;
margin-bottom: 50px;
margin-top: 50px;
}

h2 {
    margin-bottom: 10px;
    margin-top: 50px;
    font-family: Barlow;
  }

p {
  font-size: 1rem;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

ol li {
  margin-bottom: .5rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

a {
    color: white;
    text-decoration:none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  a:hover {
    text-decoration: underline;
    text-decoration-color: #500023;
    text-decoration-style:solid;
    color: #500023;
  }

.button-box {
    max-width: 30%;
    display: block;
    border-radius: 25px;
    background-color:#e56a46;
    border-style: solid;
    border-color: rgb(255, 220, 220);
    border-width: 2px;
    padding: 25px;
    margin: 0 auto;
    margin-bottom: 15px;
    overflow: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 /*
 References fonts designers;
 Barlow: Jeremy Tribby 
 Righteous: Astigmatic
 */
